* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container{
    width: 300px;
}

.picker-container{
    background-color: #e3f2fd;
    padding: 18px;
    display: grid;
    place-content: center;
}

.btn{
    padding: 12px 36px;
    border-radius: 8px;
    background-color: #5372f0;
    color: white;
    font-weight: 700;
    border-color: transparent;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0px;
    padding: 4px;
}

.clear{
    color: #5372f0;
    cursor: pointer;
}

.colors-grid{
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
}

.colors{
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.color{
    height: 18px;
    width: 18px;
    border-radius: 4px;
}

.hidden{
    display: none;
}

.header{
    font-size: 1rem;
    font-weight: 600;
    padding: 0px 12px;
}